@import "https://fonts.googleapis.com/css2?family=Cal+Sans&family=Outfit:wght@100..900&family=Ultra&display=swap";
@import url("https://fonts.googleapis.com/css2?family=Over+the+Rainbow&display=swap");

@import "tailwindcss";

@font-face {
  font-family: "Hipnouma";
  src: url("/fonts/Hipnouma.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "seventy";
  src: url("/fonts/seventy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  max-width: 100vw !important;
  overflow-x: hidden;
  font-family: Cal Sans, sans-serif;
  background-color: #232323;
}

.outfit {
  font-family: Outfit, sans-serif;
}

.hipnouma {
  font-family: "Hipnouma", sans-serif;
}

.seventy {
  font-family: "seventy", sans-serif;
}

.handwritten {
  font-family: "Over the Rainbow", cursive;
}
.grain {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  z-index: 300;
  transform: translateZ(0);

  &:before {
    content: "";
    top: -10rem;
    left: -10rem;
    width: calc(100% + 20rem);
    height: calc(100% + 20rem);
    z-index: 9999;
    position: fixed;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/5c/Image_gaussian_noise_example.png);
    opacity: 0.1;
    pointer-events: none;
    -webkit-animation: noise 1s steps(2) infinite;
    animation: noise 2s steps(2) infinite;
  }

  @-webkit-keyframes noise {
    to {
      transform: translate3d(-7rem, 0, 0);
    }
  }

  @keyframes noise {
    0% {
      transform: translate3d(0, 9rem, 0);
    }
    10% {
      transform: translate3d(-1rem, -4rem, 0);
    }
    20% {
      transform: translate3d(-8rem, 2rem, 0);
    }
    30% {
      transform: translate3d(9rem, -9rem, 0);
    }
    40% {
      transform: translate3d(-2rem, 7rem, 0);
    }
    50% {
      transform: translate3d(-9rem, -4rem, 0);
    }
    60% {
      transform: translate3d(2rem, 6rem, 0);
    }
    70% {
      transform: translate3d(7rem, -8rem, 0);
    }
    80% {
      transform: translate3d(-9rem, 1rem, 0);
    }
    90% {
      transform: translate3d(6rem, -5rem, 0);
    }
    to {
      transform: translate3d(-7rem, 0, 0);
    }
  }
}

::selection {
  background-color: rgb(13, 13, 13);
  color: white;
}
.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: black;
}

.text-shadow-me {
  text-shadow: 0px 0px 5px black;
}

.text-stroke-0 {
  -webkit-text-stroke: 0px rgba(0, 0, 0, 0.513);
}

.text-stroke-1 {
  -webkit-text-stroke: 0.1px rgba(29, 29, 29, 0.035);
  /* text-shadow: 5px 5px 0px rgba(0, 0, 0, 0.273); */
}


.available-text::before {
  content: "●";
  padding-right: 5px;
 
}